.center-buttons {
    width:200px;
    margin: 0 auto;
}
.guest-registration-button.btn {
    display:block;
    margin: 30px auto;
    /* I UPDATED SIZE TO MAKE BUTTON FIT DECENTLY */
    font-size: medium;
}
.guest-registration-submit-button.btn {
    display:block;
    margin: 0 auto;
}

.guest-registration-button.btn-primary,
.guest-registration-submit-button.btn-primary {
    color: #404040;
    background-color: #f6de96;
    border:none;
}
.guest-registration-button.btn-primary:hover,
.guest-registration-submit-button.btn-primary:hover {
    color: #404040;
    background-color: #e4c670;
    border:none;
    text-decoration: none;
}

.guest-loregistrationin-button.modal-dialog {
    max-width: 350px !important;
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    margin: 150px auto 0 auto !important;
  }

  .modal-footer {
      margin: 0 auto;
  }
  