.loginCard{
    background-color: #ffffff;
    width: 90%;
    max-width: 400px;
    height: 500px;
    margin: 70px auto 0 auto;
    position: relative;
}

.copyright {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: #404040;
}

@media only screen and (min-width: 450px) {
    .loginCard {
       height:450px;
    }
}